{% load static %}
<html>
<head>
    <title>Chords Planet</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}"/>
</head>
<body>
<div class="container">
    <h1>Songs</h1>
    {% if all_songs_list %}
        <div class="list-group">
            {% for song in all_songs_list %}
                <a href="/songs/{{ song.id }}/" class="list-group-item">{{ song.artist }} - {{ song.name }}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>No songs are available.</p>
    {% endif %}
</div>
</body>
</html>